In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('world_population.csv')
df.head()

,Rank,CCA3,Country/Territory,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (km²),Density (per km²),Growth Rate,World Population Percentage
0,36,AFG,Afghanistan,Kabul,Asia,41128771,38972230,33753499,28189672,19542982,10694796,12486631,10752971,652230,63.0587,1.0257,0.52
1,138,ALB,Albania,Tirana,Europe,2842321,2866849,2882481,2913399,3182021,3295066,2941651,2324731,28748,98.8702,0.9957,0.04
2,34,DZA,Algeria,Algiers,Africa,44903225,43451666,39543154,35856344,30774621,25518074,18739378,13795915,2381741,18.8531,1.0164,0.56
3,213,ASM,American Samoa,Pago Pago,Oceania,44273,46189,51368,54849,58230,47818,32886,27075,199,222.4774,0.9831,0.00
4,203,AND,Andorra,Andorra la Vella,Europe,79824,77700,71746,71519,66097,53569,35611,19860,468,170.5641,1.0100,0.00

In [3]:
df = df.drop(['Country/Territory', 'Capital', 'Continent', '2020 Population', '2015 Population', '2010 Population', '2000 Population', '1990 Population', '1980 Population', '1970 Population'], axis=1)
df.head()

,Rank,CCA3,2022 Population,Area (km²),Density (per km²),Growth Rate,World Population Percentage
0,36,AFG,41128771,652230,63.0587,1.0257,0.52
1,138,ALB,2842321,28748,98.8702,0.9957,0.04
2,34,DZA,44903225,2381741,18.8531,1.0164,0.56
3,213,ASM,44273,199,222.4774,0.9831,0.00
4,203,AND,79824,468,170.5641,1.0100,0.00

In [4]:
df1 = pd.read_csv('world_pop.csv')
df1.head()

,Series Name,Series Code,Country Name,CCA3,2018 [YR2018],2019 [YR2019],2020 [YR2020],2021 [YR2021],2022 [YR2022]
0,"Population, total",SP.POP.TOTL,Afghanistan,AFG,36686784,37769499,38972230,40099462,..
1,"Population, total",SP.POP.TOTL,Albania,ALB,2866376,2854191,2837849,2811666,..
2,"Population, total",SP.POP.TOTL,Algeria,DZA,41927007,42705368,43451666,44177969,..
3,"Population, total",SP.POP.TOTL,American Samoa,ASM,48424,47321,46189,45035,..
4,"Population, total",SP.POP.TOTL,Andorra,AND,75013,76343,77700,79034,..

In [5]:
merged_df = pd.merge(df1, df, on='CCA3')
merged_df.head()

,Series Name,Series Code,Country Name,CCA3,2018 [YR2018],2019 [YR2019],2020 [YR2020],2021 [YR2021],2022 [YR2022],Rank,2022 Population,Area (km²),Density (per km²),Growth Rate,World Population Percentage
0,"Population, total",SP.POP.TOTL,Afghanistan,AFG,36686784,37769499,38972230,40099462,..,36,41128771,652230,63.0587,1.0257,0.52
1,"Population, total",SP.POP.TOTL,Albania,ALB,2866376,2854191,2837849,2811666,..,138,2842321,28748,98.8702,0.9957,0.04
2,"Population, total",SP.POP.TOTL,Algeria,DZA,41927007,42705368,43451666,44177969,..,34,44903225,2381741,18.8531,1.0164,0.56
3,"Population, total",SP.POP.TOTL,American Samoa,ASM,48424,47321,46189,45035,..,213,44273,199,222.4774,0.9831,0.00
4,"Population, total",SP.POP.TOTL,Andorra,AND,75013,76343,77700,79034,..,203,79824,468,170.5641,1.0100,0.00

In [6]:
merged_df = merged_df.drop(['Series Name', 'Series Code', '2022 [YR2022]'], axis=1)
merged_df.head()

,Country Name,CCA3,2018 [YR2018],2019 [YR2019],2020 [YR2020],2021 [YR2021],Rank,2022 Population,Area (km²),Density (per km²),Growth Rate,World Population Percentage
0,Afghanistan,AFG,36686784,37769499,38972230,40099462,36,41128771,652230,63.0587,1.0257,0.52
1,Albania,ALB,2866376,2854191,2837849,2811666,138,2842321,28748,98.8702,0.9957,0.04
2,Algeria,DZA,41927007,42705368,43451666,44177969,34,44903225,2381741,18.8531,1.0164,0.56
3,American Samoa,ASM,48424,47321,46189,45035,213,44273,199,222.4774,0.9831,0.00
4,Andorra,AND,75013,76343,77700,79034,203,79824,468,170.5641,1.0100,0.00

In [7]:
merged_df = merged_df.rename(columns={'2018 [YR2018]': '2018 Population', '2019 [YR2019]': '2019 Population', '2020 [YR2020]': '2020 Population', '2021 [YR2021]': '2021 Population', 'Density (per km²)': 'Population Density 2022'})
merged_df.head()

,Country Name,CCA3,2018 Population,2019 Population,2020 Population,2021 Population,Rank,2022 Population,Area (km²),Population Density 2022,Growth Rate,World Population Percentage
0,Afghanistan,AFG,36686784,37769499,38972230,40099462,36,41128771,652230,63.0587,1.0257,0.52
1,Albania,ALB,2866376,2854191,2837849,2811666,138,2842321,28748,98.8702,0.9957,0.04
2,Algeria,DZA,41927007,42705368,43451666,44177969,34,44903225,2381741,18.8531,1.0164,0.56
3,American Samoa,ASM,48424,47321,46189,45035,213,44273,199,222.4774,0.9831,0.00
4,Andorra,AND,75013,76343,77700,79034,203,79824,468,170.5641,1.0100,0.00

In [8]:
merged_df.isnull().sum()

Country Name                   0
CCA3                           0
2018 Population                0
2019 Population                0
2020 Population                0
2021 Population                0
Rank                           0
2022 Population                0
Area (km²)                     0
Population Density 2022        0
Growth Rate                    0
World Population Percentage    0
dtype: int64

In [10]:
new_column_order = ['Rank', 'CCA3', 'Country Name', '2018 Population', '2019 Population', '2020 Population', '2021 Population', '2022 Population', 'Area (km²)', 'Population Density 2022', 'Growth Rate', 'World Population Percentage']
merged_df = merged_df[new_column_order]
merged_df.head()

,Rank,CCA3,Country Name,2018 Population,2019 Population,2020 Population,2021 Population,2022 Population,Area (km²),Population Density 2022,Growth Rate,World Population Percentage
0,36,AFG,Afghanistan,36686784,37769499,38972230,40099462,41128771,652230,63.0587,1.0257,0.52
1,138,ALB,Albania,2866376,2854191,2837849,2811666,2842321,28748,98.8702,0.9957,0.04
2,34,DZA,Algeria,41927007,42705368,43451666,44177969,44903225,2381741,18.8531,1.0164,0.56
3,213,ASM,American Samoa,48424,47321,46189,45035,44273,199,222.4774,0.9831,0.00
4,203,AND,Andorra,75013,76343,77700,79034,79824,468,170.5641,1.0100,0.00

In [11]:
tobacco_df = pd.read_csv('data/tobacco.csv')
tobacco_df.head()

,CCA3,Country,2018 Prevalence of current tobacco use (% of adults),2019 Prevalence of current tobacco use (% of adults),2020 Prevalence of current tobacco use (% of adults)
0,AFG,Afghanistan,23.8,23.8,23.3
1,ALB,Albania,23,23,22.4
2,DZA,Algeria,21,21,21
3,ASM,American Samoa,..,..,..
4,AND,Andorra,32,32,31.8

In [12]:
alcohol_df = pd.read_csv('data/alcohol.csv')
alcohol_df.head()

,CCA3,Country,"2018 Total alcohol consumption per capita (liters of pure alcohol, projected estimates, 15+ years of age)"
0,AFG,Afghanistan,0.21
1,ALB,Albania,7.17
2,DZA,Algeria,0.95
3,ASM,American Samoa,..
4,AND,Andorra,11.02

In [13]:
alcohol_df = alcohol_df.drop(['Country'], axis=1)
alcohol_df.head()

,CCA3,"2018 Total alcohol consumption per capita (liters of pure alcohol, projected estimates, 15+ years of age)"
0,AFG,0.21
1,ALB,7.17
2,DZA,0.95
3,ASM,..
4,AND,11.02

In [14]:
merged_df1 = pd.merge(tobacco_df, alcohol_df, on='CCA3')
merged_df1.head()

,CCA3,Country,2018 Prevalence of current tobacco use (% of adults),2019 Prevalence of current tobacco use (% of adults),2020 Prevalence of current tobacco use (% of adults),"2018 Total alcohol consumption per capita (liters of pure alcohol, projected estimates, 15+ years of age)"
0,AFG,Afghanistan,23.8,23.8,23.3,0.21
1,ALB,Albania,23,23,22.4,7.17
2,DZA,Algeria,21,21,21,0.95
3,ASM,American Samoa,..,..,..,..
4,AND,Andorra,32,32,31.8,11.02

In [15]:
merged_df1 = merged_df1.drop(['Country'], axis=1)
merged_df1.head()

,CCA3,2018 Prevalence of current tobacco use (% of adults),2019 Prevalence of current tobacco use (% of adults),2020 Prevalence of current tobacco use (% of adults),"2018 Total alcohol consumption per capita (liters of pure alcohol, projected estimates, 15+ years of age)"
0,AFG,23.8,23.8,23.3,0.21
1,ALB,23,23,22.4,7.17
2,DZA,21,21,21,0.95
3,ASM,..,..,..,..
4,AND,32,32,31.8,11.02

In [16]:
final_df = pd.merge(merged_df, merged_df1, on='CCA3')
final_df.head()

,Rank,CCA3,Country Name,2018 Population,2019 Population,2020 Population,2021 Population,2022 Population,Area (km²),Population Density 2022,Growth Rate,World Population Percentage,2018 Prevalence of current tobacco use (% of adults),2019 Prevalence of current tobacco use (% of adults),2020 Prevalence of current tobacco use (% of adults),"2018 Total alcohol consumption per capita (liters of pure alcohol, projected estimates, 15+ years of age)"
0,36,AFG,Afghanistan,36686784,37769499,38972230,40099462,41128771,652230,63.0587,1.0257,0.52,23.8,23.8,23.3,0.21
1,138,ALB,Albania,2866376,2854191,2837849,2811666,2842321,28748,98.8702,0.9957,0.04,23,23,22.4,7.17
2,34,DZA,Algeria,41927007,42705368,43451666,44177969,44903225,2381741,18.8531,1.0164,0.56,21,21,21,0.95
3,213,ASM,American Samoa,48424,47321,46189,45035,44273,199,222.4774,0.9831,0.00,..,..,..,..
4,203,AND,Andorra,75013,76343,77700,79034,79824,468,170.5641,1.0100,0.00,32,32,31.8,11.02

In [17]:
final_df = final_df.replace('..', np.nan)
final_df.head()

,Rank,CCA3,Country Name,2018 Population,2019 Population,2020 Population,2021 Population,2022 Population,Area (km²),Population Density 2022,Growth Rate,World Population Percentage,2018 Prevalence of current tobacco use (% of adults),2019 Prevalence of current tobacco use (% of adults),2020 Prevalence of current tobacco use (% of adults),"2018 Total alcohol consumption per capita (liters of pure alcohol, projected estimates, 15+ years of age)"
0,36,AFG,Afghanistan,36686784,37769499,38972230,40099462,41128771,652230,63.0587,1.0257,0.52,23.8,23.8,23.3,0.21
1,138,ALB,Albania,2866376,2854191,2837849,2811666,2842321,28748,98.8702,0.9957,0.04,23,23,22.4,7.17
2,34,DZA,Algeria,41927007,42705368,43451666,44177969,44903225,2381741,18.8531,1.0164,0.56,21,21,21,0.95
3,213,ASM,American Samoa,48424,47321,46189,45035,44273,199,222.4774,0.9831,0.00,NaN,NaN,NaN,NaN
4,203,AND,Andorra,75013,76343,77700,79034,79824,468,170.5641,1.0100,0.00,32,32,31.8,11.02

In [18]:
final_df.isnull().sum()

Rank                                                                                                          0
CCA3                                                                                                          0
Country Name                                                                                                  0
2018 Population                                                                                               0
2019 Population                                                                                               0
2020 Population                                                                                               0
2021 Population                                                                                               0
2022 Population                                                                                               0
Area (km²)                                                                                                    0
Population Density 2022                                                                                       0
Growth Rate                                                                                                   0
World Population Percentage                                                                                   0
2018 Prevalence of current tobacco use (% of adults)                                                         51
2019 Prevalence of current tobacco use (% of adults)                                                         51
2020 Prevalence of current tobacco use (% of adults)                                                         51
2018 Total alcohol consumption per capita (liters of pure alcohol, projected estimates, 15+ years of age)    27
dtype: int64

In [19]:
final_df['2018 Population'] = final_df['2018 Population'].astype(int)
final_df['2019 Population'] = final_df['2019 Population'].astype(int)
final_df['2020 Population'] = final_df['2020 Population'].astype(int)
final_df['2021 Population'] = final_df['2021 Population'].astype(int)
final_df['2018 Prevalence of current tobacco use (% of adults)'] = final_df['2018 Prevalence of current tobacco use (% of adults)'].astype(float)
final_df['2019 Prevalence of current tobacco use (% of adults)'] = final_df['2019 Prevalence of current tobacco use (% of adults)'].astype(float)
final_df['2020 Prevalence of current tobacco use (% of adults)'] = final_df['2020 Prevalence of current tobacco use (% of adults)'].astype(float)
final_df['2018 Total alcohol consumption per capita (liters of pure alcohol, projected estimates, 15+ years of age)'] = final_df['2018 Total alcohol consumption per capita (liters of pure alcohol, projected estimates, 15+ years of age)'].astype(float)

In [20]:
final_df.dtypes

Rank                                                                                                           int64
CCA3                                                                                                          object
Country Name                                                                                                  object
2018 Population                                                                                                int64
2019 Population                                                                                                int64
2020 Population                                                                                                int64
2021 Population                                                                                                int64
2022 Population                                                                                                int64
Area (km²)                                                                                                     int64
Population Density 2022                                                                                      float64
Growth Rate                                                                                                  float64
World Population Percentage                                                                                  float64
2018 Prevalence of current tobacco use (% of adults)                                                         float64
2019 Prevalence of current tobacco use (% of adults)                                                         float64
2020 Prevalence of current tobacco use (% of adults)                                                         float64
2018 Total alcohol consumption per capita (liters of pure alcohol, projected estimates, 15+ years of age)    float64
dtype: object

In [21]:
final_df.describe()

,Rank,2018 Population,2019 Population,2020 Population,2021 Population,2022 Population,Area (km²),Population Density 2022,Growth Rate,World Population Percentage,2018 Prevalence of current tobacco use (% of adults),2019 Prevalence of current tobacco use (% of adults),2020 Prevalence of current tobacco use (% of adults),"2018 Total alcohol consumption per capita (liters of pure alcohol, projected estimates, 15+ years of age)"
count,214.000000,2.140000e+02,2.140000e+02,2.140000e+02,2.140000e+02,2.140000e+02,2.140000e+02,214.000000,214.000000,214.000000,163.000000,163.000000,163.000000,187.000000
mean,109.714953,3.568312e+07,3.606113e+07,3.642704e+07,3.674258e+07,3.713214e+07,6.338965e+05,466.535965,1.009957,0.465467,20.703681,20.703681,20.332515,6.001267
std,64.388041,1.388651e+08,1.398557e+08,1.407515e+08,1.414278e+08,1.426498e+08,1.833815e+06,2158.294756,0.013614,1.788732,9.875615,9.875615,9.826482,4.150199
min,1.000000,1.086500e+04,1.095600e+04,1.106900e+04,1.120400e+04,1.131200e+04,2.000000e+00,0.026100,0.912000,0.000000,3.600000,3.600000,3.500000,0.003000
25%,54.250000,8.188845e+05,8.286810e+05,8.347300e+05,8.473712e+05,8.600220e+05,1.113975e+04,38.417875,1.003100,0.010000,12.150000,12.150000,11.800000,2.275000
50%,108.500000,6.460560e+06,6.549557e+06,6.636318e+06,6.719538e+06,6.781348e+06,1.016050e+05,93.287500,1.008100,0.090000,20.800000,20.800000,20.300000,5.700000
75%,162.750000,2.504922e+07,2.565164e+07,2.581442e+07,2.590095e+07,2.620034e+07,4.722915e+05,233.245525,1.017475,0.330000,27.350000,27.350000,26.600000,9.250000
max,227.000000,1.402760e+09,1.407745e+09,1.411100e+09,1.412360e+09,1.425887e+09,1.709824e+07,23172.266700,1.069100,17.880000,49.200000,49.200000,48.500000,20.500000

In [23]:
final_df = final_df.drop(['2018 Prevalence of current tobacco use (% of adults)', '2019 Prevalence of current tobacco use (% of adults)', '2020 Prevalence of current tobacco use (% of adults)', '2018 Total alcohol consumption per capita (liters of pure alcohol, projected estimates, 15+ years of age)'], axis = 1)
final_df.head()

,Rank,CCA3,Country Name,2018 Population,2019 Population,2020 Population,2021 Population,2022 Population,Area (km²),Population Density 2022,Growth Rate,World Population Percentage
0,36,AFG,Afghanistan,36686784,37769499,38972230,40099462,41128771,652230,63.0587,1.0257,0.52
1,138,ALB,Albania,2866376,2854191,2837849,2811666,2842321,28748,98.8702,0.9957,0.04
2,34,DZA,Algeria,41927007,42705368,43451666,44177969,44903225,2381741,18.8531,1.0164,0.56
3,213,ASM,American Samoa,48424,47321,46189,45035,44273,199,222.4774,0.9831,0.00
4,203,AND,Andorra,75013,76343,77700,79034,79824,468,170.5641,1.0100,0.00

In [24]:
final_df.to_csv('dataset.csv', index=False)